body{
    animation: transition 1s;
}

@keyframes transition {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: rotate(0);
    }
}


body > main > section:nth-child(12) {
    position: relative;
}

body > main > section:nth-child(12) > section {
    width: 80vw;
    height: 480px;
    position: relative;
    top: 214px;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
}

body > main > section:nth-child(12) > section > section:nth-child(1) {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

body > main > section:nth-child(12) > section > section:nth-child(1) > div > input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #afa7a7;
    background: transparent;
    font-family: monospace;
    font-size: 20px;
}

body > main > section:nth-child(12) > section > section:nth-child(1) > div:nth-child(3) > input {
    height: 80px;
}

body > main > section:nth-child(12) > section > section:nth-child(1) > div > button:hover {
    cursor: pointer;
    border: 3px solid #93ecec;
}

body > main > section:nth-child(12) > section > section:nth-child(1) > div > button {
    width: 90%;
    height: 40px;
    border-radius: 15px;
    background: transparent;
    font-size: 20px;
    border: 2px solid dodgerblue;
}

body > main > section:nth-child(12) > section > section:nth-child(2) {
    width: 50%;
    height: 100%;
    position: relative;
    left: 90px;
    top: -25px;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > h2 {
    position: absolute;
    margin: auto;
    top: 50px;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > ul {
    font-size: 24px;
    list-style: none;
    position: absolute;
    margin: auto;
    top: 90px;
    white-space: break-spaces;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > section > a {
    height: 50px;
    width: 50px;
}
body > main > section:nth-child(12) > section > section:nth-child(2) > section > a:hover {
    cursor: pointer;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > section {
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    top: 376px;
    left: 2px;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > section > a:nth-child(1) {
    background: url("../image/icon/github.png");
    background-size: cover;
    background-position: center;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > section > a:nth-child(2) {
    background: url("../image/icon/facebook.png");
    background-size: cover;
    background-position: center;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > section > a:nth-child(3) {
    background: url("../image/icon/linkedin.png");
    background-size: cover;
    background-position: center;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > section > a:nth-child(4) {
    background: url("../image/icon/whatsapp.png");
    background-size: cover;
    background-position: center;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > section > a:nth-child(5) {
    background: url("../image/icon/instagram.png");
    background-size: cover;
    background-position: center;
}

body > main > section:nth-child(12) > section > section:nth-child(2) > section > a:nth-child(6) {
    background: url("../image/icon/twitter.png");
    background-size: cover;
    background-position: center;
}



#footer{
    position: relative;
    background: #000000;
    height: 5vh;
    width: 100%;
    margin: auto;
    bottom: 0;
    color: #5A6776;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer>p{
    top: 0;
    bottom: 0;
}
#icons {
    width: 200px;
    height: 25px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0);

}

#icons > a:hover {
    cursor: pointer;
    background: #141E55;
    background-size: contain;
}

#icons > a {
    width: 25px;
    background-size: cover;
}

#icons > a:nth-child(1) {
    background-image: url("../image/icon/github.png");
}

#icons > a:nth-child(2) {
    background-image: url("../image/icon/linkedin.png");
}

#icons > a:nth-child(3) {
    background-image: url("../image/icon/facebook.png");
}

#icons > a:nth-child(4) {
    background-image: url("../image/icon/whatsapp.png");
}