body{
    animation: transition 1s;
}

@keyframes transition {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: rotate(0);
    }
}

#contact{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact>h2{
    margin: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2em;
}

.text-field{
    display: flex;
    flex-direction: column;
}

#form{
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;

}
.input-field{
    height: 50px;
    border-radius: 8px;
    border: 1px solid grey;
    font-size: 1.5em;
    margin-bottom: 40px;
}
#text{
    height: 100px;
}
#btn-send{
    width: 100px;
    height: 30px;
    background: #141E55;
    border-radius: 15px;
    color: white;
    border: 0;
}

#footer{
    position: relative;
    background: #000000;
    height: 5vh;
    width: 100%;
    margin: 0;
    bottom: 0;
    color: #5A6776;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer>p{
    top: 0;
    bottom: 0;
}
#icons {
    width: 200px;
    height: 25px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0);

}

#icons > a:hover {
    cursor: pointer;
    background: #141E55;
    background-size: contain;
}

#icons > a {
    width: 25px;
    background-size: cover;
}

#icons > a:nth-child(1) {
    background-image: url("../image/icon/github.png");
}

#icons > a:nth-child(2) {
    background-image: url("../image/icon/linkedin.png");
}

#icons > a:nth-child(3) {
    background-image: url("../image/icon/facebook.png");
}

#icons > a:nth-child(4) {
    background-image: url("../image/icon/whatsapp.png");
}