body {
    animation: transition 1s;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: rotate(0);
    }
}

* {
    color: antiquewhite;
}

.highLight {
    color: #55a4c1;
}

header {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 60px;
    width: 100%;
    background: #171515;
}


.progress-container {
    position: absolute;
    width: 100%;
    height: 3px;
    background: #171515;
    top: 60px;
}

.progress-bar {
    height: 3px;
    background: #55a4c1;
    width: 0%;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn:hover {
    background-color: #141E55;
}

.cv-button {
    position: absolute;
    bottom: 155px;
    left: 57px;
    margin: auto;
}

body > main > section {
    height: 100vh;
    background: #121218;
}

p, pre, h2, h3, hr {
    margin: 0;
    font-family: monospace;
}


h2 {
    font-size: 34px;
}

#headerName {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    padding: 13px 0 0 25px;
}

/*----------navigation list-----------*/
#navList {
    position: absolute;
    right: 30px;
    font-size: 24px;
    font-family: cursive;
    list-style: none;
    margin: 0;
    display: block;
}

#navList > li > a {
    text-decoration: none;
}

#navList > li {
    text-decoration: none;
    padding: 15px 10px 0 10px;
    display: inline-block;
}

#navList > li a:hover {
    cursor: pointer;
    color: deepskyblue;
}

.scroll-container {
    scroll-behavior: smooth;
}

.scroll-page {
    scroll-behavior: smooth;
}


#homePage {
    background: url("../image/design.jpg");
    background-size: cover;
    background-position: center;
    /*background: #121218;*/
    /*background: linear-gradient(-45deg, #141E55, #134382, #19607d, #166f5a);*/
    /*background-size: 400% 400%;*/
    /*animation: gradient 15s ease infinite;*/
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.web-button {
    text-decoration: none;
}

.web-button:hover {
    color: #72c6e5;
}

/*-------my name---------*/
#my-name {
    position: absolute;
    left: 59px;
    top: 183px;
    margin: auto;
}

#my-name > p {
    font-size: 4em;
    font-family: 'Titillium Web', sans-serif;
}

body > main > section:nth-child(2) > div > ul {
    position: absolute;
    left: 163px;
    top: 397px;
    margin: auto;
    font-size: 4em;
    font-family: monospace;
    list-style: none;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.typewriter {
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid #72c6e5;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #72c6e5
    }
}


/*-----my image-------*/
body > main > section:nth-child(2) {
    position: relative;
}

#my-img {
    position: absolute;
    width: 350px;
    height: 350px;
    right: 8vw;
    bottom: 0;
    top: 0px;
    margin: auto;
    opacity: 80%;
    border-radius: 50%;

    box-shadow: 1px 1px 10px 2px #43778b;
}

#social-links{
    position: absolute;
    width: 400px;
    height: 40px;
    margin: auto;
    right: 6vw;
    bottom: 18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0);
}

#social-links > a {
    width: 40px;
    background-size: cover;
    border-radius: 8px;
}
#social-links > a:hover {
    box-shadow: 1px 1px 10px 2px #43778b;
}

#social-links > a:nth-child(1) {
    background-image: url("../image/icon/github.png");
}

#social-links > a:nth-child(2) {
    background-image: url("../image/icon/linkedin.png");
}

#social-links > a:nth-child(3) {
    background-image: url("../image/icon/facebook.png");
}

#social-links > a:nth-child(4) {
    background-image: url("../image/icon/whatsapp.png");
}

/*------titles------*/
body > main > section > h2 {
    position: absolute;
    font-size: 40px;
    left: 60px;
    padding-top: 15px;
    z-index: 5;
}


/*-- Projects --*/

#project {
    position: relative;
}

.gallery_img {
    width: 300px;
    height: 200px;
    border-radius: 2px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    outline-offset: 10px;
    transition: all 0.2s;
    margin: 10px;
}

.tooltip-text{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.gallery {
    width: 90vw;
    margin: 50px;
    position: relative;
    top: 100px;
    display: inline-table;
}


.gallery_img:hover {
    /*outline: 10px solid #55a4c1;*/
    border: 6px solid;
    border-image: linear-gradient(to right, #2bc7c3, #703de7) 1;
    transform: scale(1) translateY(-10px);
    z-index: 20;
}

.view-button {
    position: absolute;
    margin: auto;
    right: 76px;
    bottom: 58px;
    font-size: 20px;
}

/*Contact*/
#a-c-pages {
    display: flex;
    flex-direction: row;
}

#about-side {
    background: white;
    width: 50vw;
    height: 100%;
    position: relative;
}

#frame {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 8px solid #141E55;
    width: 200px;
    height: 200px;
    transition: border-radius 0.5s;
}

#frame > p {
    text-align: center;
    color: #141E55;
    font-size: 1.5em;
    margin-top: 10px;
}

#frame > h3 {
    text-align: center;
    color: #141E55;
    font-size: 3em;
    margin: 10px 50px 50px 50px;
}

#frame:hover {
    border-radius: 100%;
    cursor: pointer;
}

#contact-side {
    background: #141E55;
    width: 50vw;
    height: 100%;
    position: relative;
}

#frame2 {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 8px solid white;
    width: 200px;
    height: 200px;
    transition: border-radius 0.5s;
}

#frame2 > p {
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-top: 20px;
}

#frame2 > h3 {
    text-align: center;
    color: white;
    font-size: 3em;
    margin: 30px 40px 40px 25px;
}

#frame2:hover {
    border-radius: 100%;
    cursor: pointer;
}
#btn-scroll{
    position: fixed;
    display: none;
    border: none;
    cursor: pointer;
    right: 20px;
    bottom: 20px;
    z-index: 15;
    background-color: transparent;

}
#btn-scroll:hover{
}

#footer {
    position: relative;
    background: #000000;
    height: 5vh;
    width: 100%;
    margin: auto;
    bottom: 0;
    color: #5A6776;
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#footer > p {
    top: 0;
    bottom: 0;
}

#icons {
    width: 200px;
    height: 25px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0);

}

#icons > a:hover {
    cursor: pointer;
    background: #141E55;
    background-size: contain;
}

#icons > a {
    width: 25px;
    background-size: cover;
}

#icons > a:nth-child(1) {
    background-image: url("../image/icon/github.png");
}

#icons > a:nth-child(2) {
    background-image: url("../image/icon/linkedin.png");
}

#icons > a:nth-child(3) {
    background-image: url("../image/icon/facebook.png");
}

#icons > a:nth-child(4) {
    background-image: url("../image/icon/whatsapp.png");
}

/*-------------------Responsive------------------*/
@media all and (max-width: 1440px) {

}

@media all and (min-width: 768px) and (max-width: 1366px) {

}

@media all and (min-width: 425px) and (max-width: 768px) {

}

@media all and (min-width: 375px) and (max-width: 425px) {


}

@media all and (min-width: 320px) and (max-width: 375px) {

}

@media all and (max-width: 320px) {
    #navList {
        display: none;

    }

    #my-name {
        top: 250px;
    }

    #my-name > p {
        font-size: 1em;
    }

    #my-img {
        margin: 0;
        width: 100px;
        height: 100px;
        top: 100px;
        right: 35vw;
    }

    .cv-button {
        bottom: 40vh;
        left: 70px;
    }

    #side-btn {
        display: none;
    }

    body > main > section > h2 {
        font-size: 20px;
        left: 30px;
    }

    #project{
        overflow-y: scroll;
    }

    .gallery_img {
        width: 280px;
        height: 130px;
    }

    .gallery {
        width: 80vw;
        margin: 5px;
        top: 70px;
        display: inline;
    }
    .btn {
        padding: 5px 5px;
        font-size: 10px;
    }
    .view-button {
        position: sticky;
        margin: auto;
        right: 0;
        bottom: 10px;
        font-size: 10px;
    }
    .btn-project{
        position: absolute;
        width: 60px;
        right: 0;
        bottom: 0;
    }

    #a-c-pages {
        flex-direction: column;
    }

    #about-side {
        width: 100vw;
        height: 50vh;
    }

    #contact-side {
        width: 100vw;
        height: 50vh;
    }

    #frame {
        border: 4px solid #141E55;
        width: 100px;
        height: 100px;
    }

    #frame > p {
        text-align: center;
        font-size: 1em;
        margin-top: 10px;
    }

    #frame > h3 {
        font-size: 2em;
        margin: 0;
    }

    #frame2 {
        border: 4px solid white;
        width: 100px;
        height: 100px;
    }

    #frame2 > p {
        text-align: center;
        font-size: 1em;
        margin-top: 10px;
    }

    #frame2 > h3 {
        font-size: 2em;
        margin: 0;
    }

    #footer {
        height: 15vh;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

}


#loader-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: black;
    z-index: 3;
}

#loader-container > img {
    width: 220px;
    height: 110px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}