
body {
    background-color: #3a483b;
}

body > section {
    width: 98vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > section > section {
    display: flex;
    width: 600px;
    flex-direction: column;
}

body > section > section > section {
    display: flex;
    height: 40px;
    padding: 10px;
}

body > section > section > section:nth-child(2) {
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

body > section > section > section:nth-child(2) > div {
    margin-right: 10px;
}

body > section > section > section:nth-child(3) {
    justify-content: flex-end;
}

div {
    width: 80px;
}

body > section > section > section:nth-child(1) > div {
    background-color: red;
}

body > section > section > section:nth-child(2) > div:nth-child(1) {
    background-color: green;
}

body > section > section > section:nth-child(2) > div:nth-child(2) {
    background-color: blue;
}

body > section > section > section:nth-child(2) > div:nth-child(3) {
    background-color: yellow;
}

body > section > section > section:nth-child(2) > div:nth-child(4) {
    background-color: pink;
}

body > section > section > section:nth-child(3) > div {
    background-color: hotpink;
}
